*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
}

.trello {
    height: 100vh;
    width: 100%;
    background: #0079bf;
}
.trello__container {
    height: 100%;
}
.trello__list {
    height: 100%;
    display: inline-block;
}
.trello__list:not(:last-child) {
    margin: 0 8px 0 0;
}
.trello__item {
}
.trello-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    padding: 10px;
    background: #ebecf0;
    border-radius: 3px;
}
.trello-card__header {
    display: flex;
    justify-content: space-between;
    min-height: 20px;
    margin: 0 0 10px 0;
}
.trello-card__title {
}
.trello-card__option {
}
.trello-card__body {
    margin: 0 0 10px 0;
    min-height: 10px;
}
.trello-card__row {
    max-width: 300px;
    min-height: 20px;
    padding: 6px 8px 2px;
    display: block;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    cursor: move;
    user-select: none;   
}
.trello-card__row:not(:first-child) {
    margin: 8px 0 0 0;
}
.trello-card__row.dragging {
    opacity: 0.5;
}
.trello-card__edit {
}
.trello-card__footer {
    padding: 6px 8px 2px;
}
.trello-card__add {
}
.trello-card__icon {
}
.trello-card__sample {
}