.btn {
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    background: $color-accept;
    color: $white;
    cursor: pointer;
    outline: none;
    border: none;

    &--blue {
        transition: background .3s ease-in-out;

        &:hover {
            background: darken($color: $color-accept, $amount: 10);
        }
    }

    &--red {
        background: $color-cancel;
        transition: background .3s ease-in-out;

        &:hover {
            background: darken($color: $color-cancel, $amount: 10);
        }
    }

    &--white {
        background: $white;
        color: $color-accept;
        border-radius: 8px;
        transition: background .3s ease-in-out;

        &:hover {
            background: darken($color: $white, $amount: 10);
        }
    }
}