.trello {
    height: 100vh;
    width: 100%;
    background: #0079bf;

    &__container {
        height: 100%;
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    &__left {
        margin: 0 8px 0 0;
    }
    &__list {
        height: 100%;
        display: inline-block;

        &:not(:last-child) {
            margin: 0 8px 0 0;
        }
    }
    &__item {
    }
    &__add {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%);
        display: inline-block;
        padding: 10px;
        background: $white;
        color: $blue;
        cursor: pointer;
        border-radius: 8px;
        outline: none;
        border: none;
    }
}

.trello-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 100%;
    padding: 10px;
    background: $gray;
    border-radius: 3px;

    &__header {
        display: flex;
        justify-content: space-between;
        min-height: 20px;
        margin: 0 0 10px 0;
    }
    &__title {
        width: 100%;
        height: 25px;
        padding: 4px 8px;
        outline: none;
        resize: none;
        background: transparent;
        border-width: 2px;
        border-color: transparent;
        cursor: pointer;

        &:focus {
            border: 2px solid $blue;
            background: $white;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &__option {
    }
    &__body {
        min-height: 10px;
    }
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 100%;
        min-height: 20px;
        padding: 6px 8px 2px;
        background-color: $white;
        border-radius: 3px;
        box-shadow: 0 1px 0 #091e4240;
        cursor: move;
        user-select: none;
        white-space: normal;

        p {
            word-wrap: break-word;
            clear: both;
            color: #172b4d;
            display: block;
            margin: 0 0 4px;
            overflow: hidden;
            text-decoration: none;
        }
    }
    &__row:not(:first-child) {
        margin: 8px 0 0 0;
    }
    &__row.dragging {
        opacity: 0.5;
    }
    &__edit {
    }
    &__footer {
        // padding: 6px 8px 2px;
        margin: 10px 0 0 0;
    }
    &__container {
        display: none;
    }
    &__textarea {
        width: 100%;
        height: 38px;
        padding: 4px 8px;
        outline: none;
        resize: none;
        background: $white;
        border-width: 2px;
        border-color: transparent;
        cursor: pointer;

        border-radius: 3px;
        box-shadow: 0 1px 0 #091e4240;
        margin-bottom: 8px;


        &:focus {
            border: 2px solid $blue;
            background: $white;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

    }
    &__controls {
    }
    &__btn {
        display: inline-block;
        padding: 10px;
        background: $blue;
        color: $white;
        cursor: pointer;
        outline: none;
        border: none;
    }
    &__add {
        display: none;
        padding: 10px;
        background: $blue;
        color: $white;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
        border: none;
    }
    &__cancel {
        display: inline-block;
        padding: 10px;
        background: $red;
        color: $white;
        cursor: pointer;
        border-radius: 3px;
        outline: none;
        border: none;
    }
    &__icon {
    }
    &__sample {
    }
}