.trello {
    height: 100vh;
    width: 100%;
    background: $blue;

    &__container {
        height: 100%;
        display: flex;
        align-items: flex-start;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    &__left {
        margin: 0 8px 0 0;
    }
    &__list {
        height: 100%;
        display: inline-block;

        &:not(:last-child) {
            margin: 0 8px 0 0;
        }
    }
    &__add {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translate(-50%);
    }
}

.trello-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    max-height: 100%;
    padding: 10px;
    background: $gray;
    border-radius: 3px;

    &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 20px;
        margin: 0 0 10px 0;
    }
    &__title {
        width: 100%;
        height: 25px;
        max-height: 200px;
        padding: 4px 8px;
        outline: none;
        resize: none;
        background: transparent;
        border-width: 2px;
        border-color: transparent;
        cursor: pointer;

        &:focus {
            border: 2px solid $blue;
            background: $white;
        }

        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &__option {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        cursor: pointer;
        transition: background .1s linear;

        &:hover {
            background: $white;
        }

        img {
            max-width: 100%;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 25px;
        right: -100px;
        background: $white;
        padding: 20px;
        background: #fff;
        border-radius: 3px;
        box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
        display: none;
        overflow: hidden;
        width: 200px;
        z-index: 2;
    }
    &__item {

        &:not(:last-child) {
            margin: 0 0 10px 0;
        }
    }
    &__body {
        min-height: 10px;
    }
    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        max-width: 100%;
        min-height: 30px;
        padding: 6px 8px 2px;
        background-color: $white;
        border-radius: 3px;
        box-shadow: 0 1px 0 #091e4240;
        cursor: move;
        user-select: none;
        white-space: normal;

        p {
            word-wrap: break-word;
            clear: both;
            color: #172b4d;
            display: block;
            margin: 0 0 4px;
            overflow: hidden;
            text-decoration: none;
        }
    }
    &__row:not(:first-child) {
        margin: 8px 0 0 0;
    }
    &__row.dragging {
        opacity: 0.5;
    }
    &__edit {
        position: absolute;
        right: 2px;
        top: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 20px;
        width: 20px;
        padding: 4px;
        cursor: pointer;
        background-color: #f4f5f7;
        opacity: .8;
        transition: all .3s ease-in-out;

        &:hover {
            background: #ebecf0;
            opacity: 1;
        }

        img {
            max-width: 100%;
        }
    }
    &__footer {
        margin: 10px 0 0 0;
    }
    &__container {
        display: none;
    }
    &__textarea {
        width: 100%;
        height: 38px;
        padding: 4px 8px;
        outline: none;
        resize: none;
        background: $white;
        border-width: 2px;
        border-color: transparent;
        cursor: pointer;

        border-radius: 3px;
        box-shadow: 0 1px 0 #091e4240;
        margin-bottom: 8px;

        &:focus {
            border: 2px solid $blue;
            background: $white;
        }

        &::-webkit-scrollbar {
            width: 0;
        }

    }
    &__add {
        display: none;
    }
}